.wrapper {
    grid-area: header;
    background-color: #57394a;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
  
.logo {
    width: 60px;
    height: 60px;
}

.login {
    color: white;
}