.userWrapper {
    display: flex;
    width: 100%;
    border: 1px solid #57394a;
    border-radius: 8px;
    padding: 10px;
}

.userWrapper:not(:last-child) {
    margin-bottom: 20px;
}

.leftColumn {
    width: 15%;
}

.photo {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 100%;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.photo img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.followButton {
    font-family: 'Ubuntu', sans-serif;
    border: none;
    font-size: 20px;
    width: 100%;
    padding: 10px 0;
    text-transform: uppercase;
    background-color: #57394a;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

.followButton:hover {
    background-color: #68485a;
}

.followButton:disabled {
    background-color: rgb(184, 171, 171);
    cursor: auto;
}

.rightColumn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #57394a;
    margin-bottom: 20px;
}